# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Entornos
.venv/
venv/
.env
.env.*

# FastAPI/UVicorn
*.log

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Proyecto (ajustá si hace falta)
static/imagenes/**/*.tmp
